extends layout

block content
    h1= title
    
    form(method="POST", action="/new")
        div
            label(for="name") Name:
            input(type="text", id="form-name", name="name")
        div
            label(for="message") Message:
            input(type="text", id="form-message", name="message")
        div
            button(type="submit") Send